.article-news{
    padding-top: 120px;
    padding-bottom: 80px;
    .container{    
        width: 1320px;
        height: 642px;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            .box-title{
                display: flex;
                justify-content: space-between;
                width: 1320px;
                height: 100px;
                .title{
                    p{
                        color: #F94D1C;
                    }
                    h2{
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 600;
                        font-size: 45px;                         
                    }
                }
                .Button{
                    display: flex;
                    align-items: center;
                    .btn-yellow{
                        border: 1px solid black;
                        border-radius: 30px;
                        margin: 10px 30px;                 
                    }                                         
                }               
            }
            .images{
                display: flex;
                justify-content: space-between;
                width: 1320px;
                height: 429px;
                padding-top: 50px;        
                .box-date{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    width: 56px;
                    height: 64px;
                    margin: 20px;
                    background-color: #F9D783;
                    .date{                        
                       h4{
                            font-weight: 600;
                            margin-bottom: 0;
                            margin-top: 8px;
                       }
                    }
                }
                .box-img{
                    width: 420px;
                    height: 428px;
                }
            .box-text{
                justify-content: center;
                align-items: center;
                width: 420px;
                height: 49px;
                padding-top: 50px;
                h4{
                    padding-top: 10px;
                    font-weight: 600;
                    font-size: 22px;
                }
                p{
                  font-size: 15px;  
                }
            }               
            }
            .dots{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 100px;
                width: 120px; 
                height: 12px;
                              
            }
        }
    }    
} 