.titlecontact {
  display: flex;
  background-color: #F0EFE9;
}
.titlecontact .background-lines {
  display: flex;
  align-items: end;
  position: relative;
  left: 500px;
}
.titlecontact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  right: 400px;
  margin-top: 113px;
  margin-bottom: 113px;
}
.titlecontact .container h2 {
  font-size: 56px;
  font-weight: 700;
}