.our-services{
    display: flex;  
    background-color: #F0EFE9;
    padding-top: 120px;
    padding-bottom: 108px;
    .container{
        display: flex;
        align-items: center;              
        flex-direction: column;
        width: 1320px;
        height: 631px;
        .title{
            align-self: flex-start;
            width: 504px;
            height: 153px;
            p{ 
                color: red;
            }
            h2{
                font-family: 'DM Sans', sans-serif;
                font-weight: 600;
                font-size: 45px;  
            }
        }
        .box-frame{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
            gap: 20px;
            height: 631px;            
            .box{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 308px;
                height: 310px;
                background-color: white;
                .thin-line{
                    height: 2px;
                    background-color: #191919;
                    width: 39px;
                    margin-bottom: 35px;
                }
                h4{
                    font-weight: 600;      
                }
                p{
                    padding-top: 10px;
                } 
                .box-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    width: 248px;  
                    height: 237px;                   
                    .arrow{
                        display: flex;
                        justify-content: end;                    
                        a{
                            display: flex; 
                            text-decoration: none;    
                            justify-content: center; 
                            align-items: center;         
                            width: 48px;
                            height: 52px;              
                            margin-left: 40px;                           
                            color: black; 
                            font-size: 20px;
                            border-radius: 50%;
                            border: 1px solid black;
                            background-color: #191919;
                            color: #F0EFE9;
                                &:hover {
                                background-color: white;
                                color: black;             
                                }           
                        }       
                    }                                                
                }
                &:hover {
                    background-color: #F9D783;
                    border: 1px solid #191919;
                 
                }                           
            }             
        } 
        .btn-browse{
            display: flex;  
            align-items: center;
            margin-top: 30px;
            width: 221px;
            height: 56px;
                a{ 
                    display: flex;           
                    text-decoration: none;                      
                    border-radius: 30px;
                    padding: 10px 30px;
                    font-weight: 500;
                    font-size: 16;
                    gap: 7px;
                    color: #191919;
                    border: 1px solid rgb(173, 171, 171);
                    background-color: #F0EFE9
                    i{
                        
                    }   
                    &:hover {
                        background-color: black;
                        border: 1px solid #191919;
                        color:#f0efe9;
                    }                                  
                }
        }      
        .background{
            display: flex;
            position: relative;
            left: 580px;
            bottom: 75px;
            width: 739px;
            height: 215px;
        }
    }
}            