.showcase{
    background-color: #F0EFE9;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: start;
        .content{
     
            height: 500px;
            padding-bottom: 40px;
            margin-top: 90px;
            position: relative;
            left: 70px;
            

            h1{
                font-family: 'DM sans', sans-serif;
                font-weight: 700;
                font-size: 96px;
                text-align: start;

            }
            p{       
                font-size: 20px;
                padding-top: 10px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;
            
            }
            a{             
                display: block;
                margin-right: 10px;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }

        }
        img{
            width: 508px;
            height: 726px;
            display: none;
            margin: left -50%;

            @media (min-width: 1200px) {
                display: block;
            }

        }
    }
    
}